<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RaffleMapper">

	<insert id="addResell_r" parameterType="ResellRDTO">
	 	insert into resell_r (resell_rno, memberno, nickname, rafflename, attend_amount, per_price, text, total_price)
	 	values (#{resell_rno}, #{memberno}, #{nickname}, #{rafflename}, #{attend_amount}, #{per_price}, #{text}, #{total_price})
 	</insert>
 	
 	<insert id="addSell_r" parameterType="SellRDTO">
	 	insert into sell_r (sell_rno, memberno, nickname, rafflename, raffleprice, raffleamount, duration, text)
	 	values (#{sell_rno}, #{memberno}, #{nickname}, #{rafflename}, #{raffleprice}, #{raffleamount}, #{duration}, #{text})
 	</insert>
 		<select id="selectMyAttendedRaffle" parameterType="String"
		resultType="ResellRDTO">
		select *
		from resell_R
		where resell_rno in (
		select resell_rno
		from rlist
		where memberno = #{memberno}
		)
	</select>
 	<select id="selectMyRaffle" parameterType="String"
		resultType="ResellRDTO">
		select *
		from resell_R
		where memberno = #{memberno}
	</select>
</mapper>