<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RaffleMapper">

	
	<insert id="addResell_r" parameterType="ResellRDTO">
		insert into resell_r (resell_rno, memberno, nickname, rafflename,
		attend_amount, per_price, text, total_price, deadline, img)
		values (#{resell_rno}, #{memberno}, #{nickname}, #{rafflename},
		#{attendamount}, #{perprice}, #{text}, #{totalprice}, #{deadline}, #{img})
	</insert>

	<insert id="addSell_r" parameterType="SellRDTO">
		insert into sell_r (sell_rno, memberno, nickname, rafflename, raffleprice,
		raffleamount, img, text, deadline)
		values (#{sell_rno}, #{memberno}, #{nickname}, #{rafflename},
		#{raffleprice}, #{raffleamount}, #{img}, #{text}, #{deadline})
	</insert>

 		<select id="selectMyAttendedRaffleR" parameterType="String"
		resultType="ResellRDTO">
		select *
		from resell_R
		where resell_rno in (
		select resell_rno
		from rlist
		where memberno = #{memberno}
		)
	</select>
 	<select id="selectMyRaffleR" parameterType="String"
		resultType="ResellRDTO">
		select *
		from resell_R
		where memberno = #{memberno}
	</select>
			<select id="selectMyAttendedRaffleS" parameterType="String"
		resultType="SellRDTO">
		select *
		from sell_R
		where sell_rno in (
		select sell_rno
		from slist
		where memberno = #{memberno}
		)
	</select>
 	<select id="selectMyRaffleS" parameterType="String"
		resultType="SellRDTO">
		select *
		from sell_R
		where memberno = #{memberno}
	</select>
</mapper>